name: Build Windows

on: [push, pull_request]

jobs:
  build_release_windows:

    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: |
          make -f Makefile.mingw32 all

      - name: Archive executable
        uses: actions/upload-artifact@v4
        with:
          name: executable
          path: CitySim.exe
