name: Release

on:
  push:
    tags: ["[0-9][0-9][0-9][0-9].[0-9][0-9].[0-9][0-9]"]

jobs:

  build_release_linux:

    runs-on: ubuntu-latest
    steps:
      - name: Install glu
        run: |
          sudo apt-get update
          sudo apt install --no-install-recommends -y libglu1-mesa-dev

      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: |
          make all
          mv CitySim CitySim-linux-x86_64

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            CitySim-linux-x86_64
            LICENSE.txt


  build_release_windows:

    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: |
          make -f Makefile.mingw32 all
          move CitySim.exe CitySim-windows-x86_64.exe

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            CitySim-windows-x86_64.exe
